astropy==7.1.0
astropy-iers-data==0.2025.9.8.0.36.17
astroquery==0.4.10
beautifulsoup4==4.13.5
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
cryptography==45.0.7
html5lib==1.1
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jeepney==0.9.0
keyring==25.6.0
more-itertools==10.8.0
numpy==2.3.2
packaging==25.0
pycparser==2.22
pyerfa==2.0.1.5
pyvo==1.7
PyYAML==6.0.2
requests==2.32.5
SecretStorage==3.3.3
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
urllib3==2.5.0
webencodings==0.5.1
